<h1>Relay Control</h1>
<div class="relay-control">
  <h3>Blub 1</h3>
  <div class="relay">
    
    <button class="relay-button on" (click)="toggleRelay(1, true)">ON</button>
    <button class="relay-button off" (click)="toggleRelay(1, false)">OFF</button>
  </div>
  <h3>Blub 1</h3>
  <div class="relay">
    <button class="relay-button on" (click)="toggleRelay(2, true)">ON</button>
    <button class="relay-button off" (click)="toggleRelay(2, false)">OFF</button>
  </div>
  <h3>Blub 1</h3>
  <div class="relay">
    <button class="relay-button on" (click)="toggleRelay(3, true)">ON</button>
    <button class="relay-button off" (click)="toggleRelay(3, false)">OFF</button>
  </div>
  <h3>Blub 1</h3>
  <div class="relay">
    <button class="relay-button on" (click)="toggleRelay(4, true)">ON</button>
    <button class="relay-button off" (click)="toggleRelay(4, false)">OFF</button>
  </div>
</div>